.textbg {
    background-color: yellow;
}

h1 {
    font-family: 'Merriweather', serif;
    margin-bottom: 0%;
}

.lgrey {
    color:rgb(134, 134, 134)
}

.bluebgtable {
    background-color: rgb(65, 62, 253);
    color:azure;
}

.lbluebgtable {
    background-color: lightblue;
}

table {
    margin-top: 30px;
    height: 200px;
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }

p {
    width: 80%;
}

.bgimg {
    background-image: url("./img/pattern.png");
    background-color: lightblue;
    height: 110px;
}

#marginimg {
    margin-top: 0%;
    font-size: 13px;
}

footer {
    
    height: 40px;
    background-color: darkblue;
    color: white;
    font-size: 13px ;
    text-align: center;
 
}


body {
    width: 70%;
    margin: auto;
}